name: Deploy to Oracle Cloud

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            source $HOME/.bashrc
            PROJECT_DIR="/home/ubuntu/tech-serv"
            if [ ! -d "$PROJECT_DIR" ]; then
              git clone https://github.com/CoilBetrox/tech-serv.git $PROJECT_DIR
            fi
            cd $PROJECT_DIR
            git fetch --all
            git reset --hard origin/main
            sudo docker compose down
            sudo docker compose up -d --build